<h3>Login:</h3>

<form action="http://localhost:3000/api/sessions/login" method="post">
    <input type="email" name="email" placeholder="ingrese su correo electrónico">
    <input type="password" name="password" placeholder="ingrese su contraseña">
    <br><br>
    <input type="submit" value="Login">

</form>