<header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/datos">Datos - informes</a>
        </li>
        <li>
            <a href="/contacto">Contacto</a>
        </li>
    </ul>
</header>