<h1>Home Page</h1>

<hr>
Nombre: {{nombreCompleto}}
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, laborum vero? Illo ratione, ipsum doloremque, libero nemo sunt ipsa mollitia fuga in, asperiores laudantium? Nobis earum voluptas laboriosam rerum facere.</p>

<br>
<hr>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, laborum vero? Illo ratione, ipsum doloremque, libero nemo sunt ipsa mollitia fuga in, asperiores laudantium? Nobis earum voluptas laboriosam rerum facere.</p>
<br>
<a href="/api/sessions/logout">Logout</a>